################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ERP System/.vs
/ERP System/ERP/bin/Debug/net8.0
/ERP System/ERP/obj
/ERP System/ERP.Core/obj
/ERP System/ERP.DATA/obj
/ERP System/ERP.Services/obj
/.gitignore
/.vs
